body {
    height: 100vh;
}

main {
    min-height: 100%;
}

.links-subMenu {
    cursor: pointer;
}

$colorGeneral: #4F70A3;
$colorWhatsappHover: #2bb641;
$colorWhatsapp: #9BC9A8;
$colorRedes: #A5ADD4;
$primary: $colorGeneral;