@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');



body {
    height: 100vh;
}

main {
    min-height: 100%;
    margin-top: 62px;
}

.links-subMenu {
    cursor: pointer;
}

.opcionSeleccionada{
    font-weight: bold !important;
}

$colorGeneral: #4F70A3;
$colorWhatsappHover: #2bb641;
$colorWhatsapp: #9BC9A8;
$colorRedes: #A5ADD4;
$font: 'Lato', sans-serif;
$fontTitles: 'Nunito', sans-serif;
$primary: $colorGeneral;
$carousel-control-color: #4F70A3;