@import "_generales";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "_whatsappLogo";
@import "_header";
@import "_footer";


// ESTILOS HOME-----------------------
.hero {
    background-color: #A5ADD4;
    height: 630px;
    padding: 50px 0px;
}
.heroCont {
    display: grid;
    grid-template-columns: 35% 60%;
    margin-left: 5%;
}
.hero h2 {
    font-family: $fontTitles;
	font-size: 400%;
	font-weight: 900;
	font-style: normal;
    color: #ffffff;
    text-align: left;
    margin-left: 5%;
    margin-top: 3em;
    text-transform: uppercase;
}
.hero p {
    font-family: $font;
    font-size: 125%;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    text-align: left;
    margin-left: 5%;
}
.heroCont img {
    width: 60%;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
}

.caracter {
    margin: 5% 5%;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.car {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    grid-gap: 3%
}
.caracter h3 {
    font-family: $font;
	font-size: 125%;
	font-weight: 400;
	font-style: normal;
    color: #0e0e0e;
}
.car img {
    margin:auto;
}

.prod h4 {
    font-family: $fontTitles;
	font-size: 150%;
	font-weight: 700;
	font-style: normal;
    color: #0e0e0e;
    text-align: left;
    margin-left: 5%;
    margin-top: 2em;
    text-transform: uppercase;
}
.productos {
    margin: 3% 5% 0%;
    align-items: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 3%;
}
.destacados {
    // padding: 2em 3em;
    // background-color: #a1a1a1;
    text-align: center;
}
.destacados a {
    text-decoration:none;
    font-family: $fontTitles;
	font-size: 125%;
	font-weight: 300;
	font-style: normal;
    color: #f1f1f1;
}
.destacados img {
    width: 50%;
    height: auto;
}

.boton__secundario{
    text-decoration:none;
    font-family: $font;
	font-size: 100%;
	font-weight: 400;
	font-style: normal;
    color: #0e0e0e;
    margin: 3%;
    display: flex;
    justify-content: center;
}
.boton__secundario:hover{
    text-decoration: none;
    font-weight: 600;
    font-style: bold;
    color: #A5ADD4;
}

.carousel-item {
    font-family: $font;
    font-style: italic;
    font-size: 100%;
    text-align: center;
}
.carousel-item p {
    padding: 3% 15%;
}


// ESTILOS NOS-----------------------
.sobreNos{
    margin-top: 3%;
}
.sobreNos img {
    width: 100%;
    height: auto;
}
.sobreNos h5 {
    font-family: $fontTitles;
	font-size: 250%;
	font-weight: 900;
	font-style: normal;
    color: #0e0e0e;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}
.sobreNos p {
    font-family: $font;
    font-size: 105%;
    font-weight: 400;
    font-style: normal;
    color: #0e0e0e;
    text-align: left;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.videoNos {
    margin-top: 10%;
    text-align: center;
}
.videoNos h5 {
    font-family: $fontTitles;
	font-size: 250%;
	font-weight: 900;
	font-style: normal;
    color: #0e0e0e;
    text-align: left;
    // margin-top: 5%;
    text-align: center;
}
.videoNos img {
    width: 75%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.trabNos {
    margin-top: 10%;
}
.trabNos h5 {
    font-family: $fontTitles;
	font-size: 200%;
	font-weight: 900;
	font-style: normal;
    color: #0e0e0e;
    text-align: left;
    margin-left: 5%;
}
.materiales {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
}
.mat {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.mat img {
    margin-bottom: 5%;
    width: 85%;
    height: auto;
}
.mat p {
    font-family: $font;
    font-size: 105%;
    color: #0e0e0e;
}





/*VISTA MOBILE*/
@media only screen and (max-width: 992px) {
    /*HOME*/
    .heroCont {
        display: grid;
        grid-template-columns: 65% 35%;
        margin-left: 3%;
    }
    .hero h2 {
        font-size: 250%;
        margin-top: 2.5em;
    }
    .hero p {
        font-size: 100%;
    }
    .heroCont img {
        width: 150%;
        height: auto;
        margin-top: 21em;
        margin-left: -60%;
    }

    .caracter h3 {
        font-size: 80%;
        text-align: center;
    }
    .car img {
        width: 70%;
        height: auto;
        margin-bottom: 1%;
    }
     .car {
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: none ;
        align-items: flex-start;
        grid-gap: 0%;
    
    }    

    .prod h4 {
        font-size: 120%;
        text-transform: none;
    }
    .productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5em;
    }
    .destacados {
        padding: 1em 2em;
    }
    .destacados a {
        font-size: 100%;
    }

    .boton__secundario{
        font-size: 80%;
    }

    .carousel-item {
        font-size: 90%;
    }

 
    /*NOSOTROS*/
    .sobreNos{
        margin-top: 10%;
    }
    .sobreNos h5 {
        font-size: 170%;
    }
    .sobreNos p {
        font-size: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .videoNos h5 {
        font-size: 150%;
    }
    
    .trabNos h5 {
        font-size: 150%;
    }
    .materiales {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5% 10% 30%;
    }
    .mat img {
        width: 60%;
        height: auto;
    }
    .mat p {
        font-size: 100%;
    }
}